{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team FullyRegistered</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid white-strip">
     <div class="masthead">
        <h3 class="text-muted"><a href="{% url 'tetris' %}" style="cursor: default"><img class="logo" src="{% static 'images/fullyRegisteredLogoWeb2.png' %}"></a></h3>
        <nav class="nav">
            <div class="container">
                <ul class="nav nav-justified our-nav">
{#                    <li><a href="{% url 'home' %}">Home</a></li>#}
                    <li><a href="{% url 'search' %}">Search Submissions</a></li>
                    <li><a href="{% url 'map_api' %}">Map</a></li>
{#                    <li><a href="{% url 'upload_submissions' %}">Upload Submissions</a></li>#}
{#                    <li><a href="{% url 'csv_upload' %}">Upload CSV</a></li>#}
                </ul>
            </div>
        </nav>
      </div>
    </div>

    <div class="container-fluid blue-strip">
        <div class="container">
        {% block title %}
            <h1>My Title</h1>
        {% endblock %}
        </div>
    </div>

    <div class="container-fluid main-content">
        <div class="container">
        {% block content %}
            <h3>Sub heading</h3>
            <p>Some text about stuff</p>
        {% endblock %}
        </div>
    </div>

    <footer>
        <div class="container-fluid footer"></div>
    </footer>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>