{% extends 'base.html' %}
{% load static %}

{% load bootstrap %}

{% block title %}
    <h1>Map</h1>
{% endblock %}

{% block content %}
    <div id="map" style="width: 100%; height: 500px;"></div>
{#    <iframe height="600" width="100%" frameborder="0" id="map"></iframe>#}
    <script>
        var citymap = {
        {% for key, location in locations.items %}
            '{{ key }}': {
                center: {lat: {{ location.lat }}, lng: {{ location.lon }}},
                population: {{ location.number }},
                original_number: {{ location.original_number }},
                submission: '{{ location.submission }}'
            },
        {% endfor %}
        };
        var crimemap = {
        {% for key, location in crime_locations.items %}
            '{{ key }}': {
                center: {lat: {{ location.lat }}, lng: {{ location.lon }}},
                population: {{ location.number }},
                original_number: {{ location.original_number }}
            },
        {% endfor %}
        };
        var healthmap = {
        {% for key, location in health_locations.items %}
            '{{ key }}': {
                center: {lat: {{ location.lat }}, lng: {{ location.lon }}},
                population: {{ location.number }},
                original_number: {{ location.original_number }}
            },
        {% endfor %}
        };
        function initMap(){
            var info_window = new google.maps.InfoWindow({
                content: "<div>Nothing Yet!</div>",
                maxWidth: 500
            });
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: {lat: -36.9713, lng: 144.7852},
                mapTypeId: 'terrain'
            });
            var city_circles = [];
            var crime_circles = [];
            var health_circles = [];
            for (var city in citymap) {
                var cityCircle = new google.maps.Circle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.5,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.2,
                    zIndex: 99999,
                    title: 'Submissions made: ' + citymap[city].original_number,
                    map: map,
                    center: citymap[city].center,
                    radius: citymap[city].population * 50,
                    population: citymap[city].population,
                    submission: citymap[city].submission
                });
                city_circles.push(cityCircle);
                //circle is the google.maps.Circle-instance
                google.maps.event.addListener(cityCircle,'mouseover',function(){
                     this.getMap().getDiv().setAttribute('title',this.get('title'));});

                google.maps.event.addListener(cityCircle,'mouseout',function(){
                     this.getMap().getDiv().removeAttribute('title');});

                google.maps.event.addListener(cityCircle, 'click', function(ev){
                    info_window.setPosition(ev.latLng);
                    info_window.setContent("<a target='_blank' href='" + this.submission + "'>" + this.submission + "</a>");
                    info_window.open(map);
                })
            }
            for (var crime in crimemap) {
            console.log(crimemap[crime]);
                var crimeCircle = new google.maps.Circle({
                    strokeColor: '#3161a5',
                    strokeOpacity: 0.5,
                    strokeWeight: 2,
                    fillColor: '#3161a5',
                    fillOpacity: 0.2,
                    title: 'incidents reported to police: ' + crimemap[crime].original_number,
                    map: map,
                    center: crimemap[crime].center,
                    radius: crimemap[crime].population * 50,
                    population: crimemap[crime].population
                });
                crime_circles.push(crimeCircle);
                //circle is the google.maps.Circle-instance
                google.maps.event.addListener(crimeCircle,'mouseover',function(){
                     this.getMap().getDiv().setAttribute('title',this.get('title'));});

                google.maps.event.addListener(crimeCircle,'mouseout',function(){
                     this.getMap().getDiv().removeAttribute('title');});

            }
            for (var health in healthmap) {
                var healthCircle = new google.maps.Circle({
                    strokeColor: '#ff8b00',
                    strokeOpacity: 0.7,
                    strokeWeight: 2,
                    fillColor: '#ff8b00',
                    fillOpacity: 0.4,
                    title: 'Health service offices: ' + healthmap[health].original_number,
                    map: map,
                    center: healthmap[health].center,
                    radius: healthmap[health].population * 50,
                    population: healthmap[health].population
                });
                health_circles.push(healthCircle);
                //circle is the google.maps.Circle-instance
                google.maps.event.addListener(healthCircle,'mouseover',function(){
                     this.getMap().getDiv().setAttribute('title',this.get('title'));});

                google.maps.event.addListener(healthCircle,'mouseout',function(){
                     this.getMap().getDiv().removeAttribute('title');});
            }

            function do_shit_to_the_dank_map() {
                for (var i = 0; i < crime_circles.length; i++){
                    var p = Math.pow(1.7, (21 - map.getZoom()));
                    crime_circles[i].setRadius((crime_circles[i].population/15) * p * 1128.497220 * 0.0027)
                }
                for (var q = 0; q < city_circles.length; q++){
                    var o = Math.pow(1.7, (21 - map.getZoom()));

                    city_circles[q].setRadius((city_circles[q].population/15) * o * 1128.497220 * 0.0027)
                }
                for (var q = 0; q < health_circles.length; q++){
                    var o = Math.pow(1.7, (21 - map.getZoom()));

                    health_circles[q].setRadius((health_circles[q].population/10) * o * 1128.497220 * 0.0027)
                }
            }

            google.maps.event.addListener(map, 'zoom_changed', function () {
                do_shit_to_the_dank_map();
            });

            do_shit_to_the_dank_map();
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>
{% endblock %}
