{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
    <h1>Search Submissions</h1>
{% endblock %}

{% block content %}
    <h3>Search by key words</h3>
    <br/>
    <br/>
    <div class="col-md-8">
        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="col-md-12">
                {{ search_form|bootstrap_inline }}
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        </form>
    </div>
    {% if pages %}
    <div class="col-lg-12 col-md-12">
        <h3>Results</h3>
        <h5>{{ pages|length }} Submission Found for "{{ terms }}"</h5>
         <hr/>
        <a class="btn btn-success" href="{% url 'map_api' %}?term={{ terms|urlencode }}"><span class="glyphicon glyphicon-pushpin"></span> Show on Map</a>
        <hr>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Identifier</th>
                    <th>Extract</th>
                </tr>
            </thead>
            <tbody>
                {% for k, page in pages.items %}
                <tr class="clickable" role="button" data-toggle="collapse" href="#collapseExample-{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample-{{ forloop.counter }}">
                    <td>{{ page.title }}</td>
                    <td>{{ page.identifer }}</td>
                    <td>{{ page.text|slice:":110" }} ...</td>
                </tr>
                <tr>
                    <td colspan="3" style="padding:0px;">
                        <div class="collapse" id="collapseExample-{{ forloop.counter }}">
                           <div class="well" style="margin-bottom:0px;">
                               <a class="btn btn-primary" data-href="{{ page.url }}" role="button">Open PDF</a>
                               {% if page.people %}
                               <div class=".col-md-6" style="margin-top:5px" float="left">
                                   <div><b>People involved</b></div>
                                   <div>{{ page.people }}</div>
                               </div>
                               {% endif %}
                               {% if page.dates %}
                               <div class=".col-md-6" style="margin-top:5px" float="left">
                                   <div><b>Date Range</b></div>
                                   <div>{{ page.dates }}</div>
                               </div>
                               {% endif %}
                           </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <script>
        jQuery(document).ready(function($) {
            $(".btn-primary").click(function() {
                window.open($(this).data("href"), '_blank');
            });
        });
    </script>
{% endblock %}