{% extends 'base.html' %}
{% load static %}

{% load bootstrap %}

{% block content %}
    <canvas id="canvas" width="400" height="400"></canvas>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>
        var ctx = $("#canvas");
        var data = {
            labels: [
                'Drugs',
                'Children',
                'Anger',
                'Weapon'
            ],
            datasets: [
                {
                    data: [10, 5, 3, 1],
                    label: "Test Graph",
                    backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56",
                            "#FCCEA6"
                            ],
                    hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56",
                            "#FCCEA6"
                            ]
            }]
        };
        var options = {
            cutoutPercentage: 0,
            responsive: true
        };
        var pieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        })
    </script>
{% endblock %}
