{% extends 'base.html' %}

{% block title %}
    <h1>{{ submission.submission_name }}</h1>
{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
    <hr/>
    <p class="submission-full">
    {% for page in submission.get_pages %}
        {{ page.page_content }}
    {% endfor %}
    </p>
    <hr/>
    </div>
{% endblock %}