{% extends 'base.html' %}

{% load bootstrap %}

{% block title %}
    <h1>Upload a new {{ title }}</h1>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap_horizontal:"col-md-4" }}
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-default" type="submit">Upload</button>
            </div>
        </div>
    </form>

    <script>
        $('#id_file').addClass('btn btn-default');
    </script>
{% endblock %}