body {
  font-family: 'Lato', sans-serif;
  color: #00548E;
  background-color: #F9F9F9; }

.logo {
  height: 120px;
  margin-left: 50px; }

.white-strip {
  background-color: white; }

.nav.our-nav {
  height: 200px;
  background-color: white;
  font-size: 16px;
  line-height: 27px;
  vertical-align: middle;
  margin-bottom: -5px; }
  .nav.our-nav li {
    height: 90px; }
  .nav.our-nav li > a:hover {
    background-color: #00548E;
    color: white; }

@media (min-width: 768px) {
  .nav-justified {
    max-height: 90px; } }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0; } }
.blue-strip {
  background-color: #00548E;
  color: white; }
  .blue-strip .container {
    padding-top: 30px;
    padding-bottom: 30px; }

.main-content p {
  color: #080F4E; }
.main-content .container {
  padding-top: 30px; }

.footer {
  height: 100px;
  background-color: #00548E;
  margin-top: 150px; }

.submission-full {
  font-size: 18px;
  line-height: 30px; }

.clickable {
  cursor: pointer; }

/*# sourceMappingURL=general.css.map */
