$rc-blue: #00548E;

body {
  font-family: 'Lato', sans-serif;
  color: $rc-blue;
  background-color: #F9F9F9;
}

.logo {
  height: 120px;
    margin-left: 50px;
}

.white-strip {
  background-color: white;
}

.nav.our-nav {
  height: 200px;
  background-color: white;
  font-size: 16px;
  line-height: 27px;
  vertical-align: middle;

  margin-bottom: -5px;

  li {
    height: 90px;
  }

  li > a:hover {
    background-color: $rc-blue;
    color: white;
  }
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 90px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

.blue-strip {
  background-color: $rc-blue;
  color: white;

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-content {
  p {
    color: #080F4E;
  }

  .container {
    padding-top: 30px;
  }
}

.footer {
  height: 100px;
  background-color: $rc-blue;
  margin-top: 150px;
}

.submission-full {
  font-size: 18px;
  line-height: 30px;
}

.clickable {
  cursor: default;
}